h2{
    color:whitesmoke;
    text-align: center;
    
  }
p{
    color:whitesmoke;
}



body{
  background-image: url("pages/clash-royle/bt.jpg");
  background-position: center center ;
  background-size: cover;
  background-repeat: no-repeat; 
  /* background:black url("bt.jpg") center center / cover no-repeat; */
  background-attachment: fixed;
  filter: brightness(70%);
  color : whitesmoke;
}

 

